[Unit]
Description=Power Meter Monitor Service
After=network.target redis-server.service
Requires=redis-server.service

[Service]
User=tm
Group=tm
Environment=NODE_ENV=production
Environment=REDIS_HOST=duro.malt.no
Environment=REDIS_AUTH=g3yHBIdiGPBsoGgPdb6rkEJa
Environment=POWER_METERTYPE=rpi
Restart=always
ExecStart=/usr/local/bin/monitor

[Install]
WantedBy=multi-user.target
